@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: #2C73D2;
    --primary-dark: #0C67C4;
    --primary-light: #00BEDB;
    --accent: #532DD2;
    --text-color: #424656;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

body {
    background-color: white;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6rem;
}

.alt-font {
    font-family: 'Merriweather', serif;
}

.light-bg {
    background-color: #ffffff;
    color: #424656;
}

.darker-bg {
    background-color: #424656;
    color: #ffffff;
}

.primary-color {
    color: var(--primary);
}

.primary-dark-color {
    color: var(--primary-dark);
}

.primary-light-color {
    color: var(--primary-light);
}

.accent-color {
    color: var(--accent);
}

.spacer-sm {
    margin-block: 1.0rem;
}

.spacer-md {
    padding-block: 1.5rem;
}

.bg-red {
    /* for debugging */
    background-color: red;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;    
}

.row-spacing {
    margin-block: 1.5rem;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-layout {
    gap: 100px;
    /* align-content: flex-start; */
}



.note {
    font-size: 0.75rem;
}

.list-style-none {
    list-style: none;
    padding: 0;
}

.flex-list {
    display: flex;
    gap: 1rem;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.navbar-ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.navbar-icon {
    margin-right: auto;
    font-size: 1.2rem;
    color: var(--primary);
}

.navlink {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent);
}

.hero-icon-link {
    color: #FFFFFF;
}

.icon-link {
    color: var(--text-color);
    font-size: 1.2rem;
}

.link {
    color: var(--accent);
    text-decoration: none;
}

.navlink:hover,
.hero-icon-link:hover
.icon-link:hover
.link:hover {
    opacity: 0.8;
}

.link:hover {
    border-bottom: 3px solid var(--accent);
}

.btn-contact {
    background-color: var(--accent);
    color: #FFFFFF;
    padding: 0.5rem 1.75rem;
    border-radius: 5px;
    text-transform: lowercase;
    border: none;
    font-size: inherit;
}

.hero {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    line-height: 2rem;
    font-size: 1.2rem;
    margin-block: 2rem;
    height: 350px;
    /* background-color: #424656;*/
    background: linear-gradient(
        45deg,
        #532DD2,
        #2C73D2,
        #532DD2
    );
}

.photo-img {
    width: 150px;
    height: auto;
    border-radius: 25px;
    float: left;
    margin-right: 1rem;
    border: 5px #eee solid;
}

/* Microsoft recommendations */
@media (max-width: 640px) {
    .row {
        flex-direction: column;
    }
    .col-layout {
        gap: 5px;
    }
}

@media (min-width: 641px) and (max-width: 1007px) {

}

@media (min-width: 1008px) {

}